<h1> ALL THE CHEFS - Miaow </h1>
<div class="container">
<% @chefs.each do |chef| %>
  <p><b>Name of the Chef Cat:</b> <%= chef.cat_name %>
  <b>Speciality of the Chef Cat:</b> <%= chef.speciality %>
  <b>Price of the Cooking service:</b> <%= chef.price %>€
  <%= link_to 'See more details', chef_path(chef)%></p>
<% end %>
</div>
