<h1> ALL THE CHEFS - Miaow </h1>
<div class="container">
<% @chefs.each do |chef| %>
  <p><b>Name of the Chef Cat:</b> <%= chef.cat_name %></p>
  <p><b>Speciality of the Chef Cat:</b> <%= chef.speciality %></p>
  <p><b>Price of the Cooking service:</b> <%= chef.price %>€</p>
<% end %>
</div>
