.container-bookings{
    background-image: url(https://res.cloudinary.com/dcd4fkkhk/image/upload/v1677842825/7486972_ppct8o.jpg)!important;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;




}

.coucou {
  width: 50%;
  margin-left: 15px;
  margin-right: auto;
  padding: 20px 15%;
  margin-top: 70px;
}

ul{
  list-style: none;
}

.card-product-bookings{
    // overflow: hidden;
    height: 100%;
    background: rgba(243, 170, 0, 0.9);;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
