.card-product-bookings{
    overflow: hidden;
    height: 120px;
    background: $orange;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    margin: 10px;
    display:flex;
    justify-content: center;
}
