.navbar-lewagon {
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(255, 255, 255);
  top: O;
  height: 70px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img{
  width: 40px;
  height: 40px;
}


.me-auto{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.dropdown-menu {
  padding: 3px;
  border-radius: 3px;
}

a {
  text-decoration: none;
  color: black;
}
